$colors: (
    "purple": #3b3355,
    "white": #fefcfd,
    "gray": #bfcde0,
    "black": black
);
$medida: (
    "2rem": 2rem,
    "4rem": 4rem,
    "1rem": 1rem,
    "3rem": 3rem,
    "5rem": 5rem,

);

$height: 44px;
$mobile: 799px;