body {
    margin: 0;
}

.contact {
    .banner-contact {
        width: 100%;
        height: 300px;
        background-image: url(../assest/banner_contacto.jpg);
        border: solid 2.0px red;
        margin: 0;
        right: 0;
    }

    .container-contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        background-color: lightcyan;
        border-bottom: 50px solid black;
        height: 500px;

        .form-text {
            margin: 0;
            padding: 0 1.5px;
            font-size: 1.8rem;

            p {
                margin: 0;
                margin-top: 4rem;
                margin-left: 3rem;
                font-weight: 600;

            }
        }

        .container-form {

            margin-top: -180px;
            padding: 2rem 5rem;
            background-color: white;

            margin-right: 5rem p {
                color: black;
                font-size: 1.5rem;
            }

            .submit {
                color: wheat;
                background-color: red;
                font-size: 24px;
                border-radius: 5%;
                width: 100px;
            }


        }
    }

}