header {
  z-index: 10;

  .navbar {
    background-color: map-get($colors, "purple");

    a {
      color: map-get($colors, "white");
    }
  }
}

@include isMobile {
  header {
    a {
      font-size: 0.75rem;
    }

    .left {
      font-size: 1.5rem;
    }
  }
}