* {
  font-family: "Poppins";
}


.navbar {
  background-color: #3B3355;
  z-index: 10;
}

.navbar a {

  color: #fefcfd;
}

.banner {
  height: 400px;
}

.banner .banner-index {
  height: 400px;
}

.factory {
  background-color: #fefcfd;
}

.factory h2 {
  color: #3b3355;
}


.factory .text-taller img {
  width: 18rem;
  height: 300px;
  object-fit: cover;
}

.factory .text-taller p {
  text-align: justify;
}

.colection {
  background-color: #fefcfd;
  padding-bottom: 1.5rem;
}

.colection h2 {
  color: #3B3355;
}

.colection .row {
  width: 100%;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.colection .row .col {
  height: 400px;
  transition: all 0.2s ease-in-out;
}

.colection .row .col:hover {
  transform: scale(1.05);
}

.colection .row .col a {
  width: 250px;
  height: 400px;
}

.colection .row .col a img {
  width: 250px;
  height: 400px;
  object-fit: cover;
  border-radius: 15%;
  top: 0;
}

footer {
  background-color: #BFCDE0;
}



footer .social a {
  width: 30px;
  height: 30px;
}

footer .social a img {
  width: 30px;
  height: 30px;
}

@media (max-width: 799px) {

  header a {
    font-size: 0.75rem;
  }

  header .left {
    font-size: 1.5rem;
  }

  .banner {
    height: 200px;
  }

  .banner .banner-index {
    height: 200px;
  }

  .factory h2 {
    text-align: center;
  }

  .factory .text-taller {
    flex-direction: column !important;
    align-items: center !important;
  }

  .colection .row {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .colection .row .column {
    height: 200px;
  }

  .colection .row .column a {
    width: 125px;
    height: 200px;
  }

  .colection .row .column a img {
    width: 125px;
    height: 200px;
  }

  .footer {
    gap: 0.5rem;
  }

  .footer .social {
    flex-direction: column;
  }
}