header {
  z-index: 10; }
  header .navbar {
    background-color: #3b3355; }
    header .navbar a {
      color: #fefcfd; }

@media (max-width: 799px) {
  header a {
    font-size: 0.75rem; }
  header .left {
    font-size: 1.5rem; } }

footer {
  background-color: #bfcde0; }
  footer .social a {
    width: 30px;
    height: 30px; }
    footer .social a img {
      width: 30px;
      height: 30px; }

@media (max-width: 799px) {
  footer {
    gap: 0.5rem; }
    footer .social {
      flex-direction: column; } }

* {
  font-family: "Poppins"; }

main .banner {
  height: 400px; }
  main .banner .banner-index {
    height: 400px; }

main .factory {
  background-color: #fefcfd; }
  main .factory h2 {
    color: #3b3355; }
  main .factory .text-taller img {
    width: 18rem;
    height: 300px;
    object-fit: cover; }
  main .factory .text-taller p {
    text-align: justify; }

main .colection {
  background-color: #fefcfd;
  padding-bottom: 1.5rem; }
  main .colection h2 {
    color: #3b3355; }
  main .colection .row {
    width: 100%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    main .colection .row .col {
      height: 400px;
      transition: all 0.2s ease-in-out; }
      main .colection .row .col:hover {
        transform: scale(1.05); }
      main .colection .row .col a {
        width: 250px;
        height: 400px; }
        main .colection .row .col a img {
          width: 250px;
          height: 400px;
          object-fit: cover;
          border-radius: 15%;
          top: 0; }

@media (max-width: 799px) {
  .banner {
    height: 200px; }
    .banner .banner-index {
      height: 200px; }
  .factory h2 {
    text-align: center; }
  .factory .text-taller {
    flex-direction: column !important;
    align-items: center !important; }
  .colection .row {
    grid-template-columns: 1fr;
    gap: 1rem; }
    .colection .row .column {
      height: 200px; }
      .colection .row .column a {
        width: 125px;
        height: 200px; }
      .colection .row .column img {
        width: 125px;
        height: 200px; } }
