header {
  z-index: 10; }
  header .navbar {
    background-color: #3b3355; }
    header .navbar a {
      color: #fefcfd; }

@media (max-width: 799px) {
  header a {
    font-size: 0.75rem; }
  header .left {
    font-size: 1.5rem; } }

footer {
  background-color: #bfcde0; }
  footer .social a {
    width: 30px;
    height: 30px; }
    footer .social a img {
      width: 30px;
      height: 30px; }
  footer .f-red1 img {
    transition: 0.5s; }
    footer .f-red1 img:hover {
      transform: scale(1.5); }
  footer .modulo {
    transition: 0.3s; }
    footer .modulo:hover {
      transform: scale(1.2);
      color: blue; }
  footer .paginas a {
    transition: 0.5s; }
    footer .paginas a:hover {
      transform: scale(1.5); }

@media (max-width: 799px) {
  footer {
    gap: 0.5rem; }
    footer .social {
      flex-direction: column; } }

.home .banner {
  height: 400px; }
  .home .banner .banner-index {
    height: 400px; }

.home .factory {
  background-color: #fefcfd; }
  .home .factory h2 {
    color: #3b3355; }
  .home .factory .text-taller img {
    width: 18rem;
    height: 300px;
    object-fit: cover; }
  .home .factory .text-taller p {
    text-align: justify; }

.home .colection {
  background-color: #fefcfd;
  padding-bottom: 1.5rem; }
  .home .colection h2 {
    color: #3b3355; }
  .home .colection .row {
    width: 100%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .home .colection .row .col {
      height: 400px;
      transition: all 0.2s ease-in-out; }
      .home .colection .row .col:hover {
        transform: scale(1.05); }
      .home .colection .row .col a {
        width: 250px;
        height: 400px; }
        .home .colection .row .col a img {
          width: 250px;
          height: 400px;
          object-fit: cover;
          border-radius: 15%;
          top: 0; }

@media (max-width: 799px) {
  .home .banner {
    height: 200px; }
    .home .banner .banner-index {
      height: 200px; }
  .home .factory h2 {
    text-align: center; }
  .home .factory .text-taller {
    flex-direction: column !important;
    align-items: center !important; }
  .home .colection .row {
    grid-template-columns: 1fr;
    gap: 1rem; }
    .home .colection .row .column {
      height: 200px; }
      .home .colection .row .column a {
        width: 125px;
        height: 200px; }
      .home .colection .row .column img {
        width: 125px;
        height: 200px; } }

.mens .carousel-inner .carousel-item {
  height: 300px; }

.mens .container-colection {
  padding: 0;
  width: 100%;
  margin: 0; }
  .mens .container-colection .titulo-coleccion {
    width: 100%;
    color: #fefcfd;
    background-color: black;
    font-size: 2.5rem;
    padding-left: 2rem;
    line-height: 4rem;
    font-weight: 800; }
  .mens .container-colection .grid-hombre {
    background-color: #fefcfd;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    row-gap: 3rem;
    column-gap: 3rem;
    padding: 3rem 0; }
    .mens .container-colection .grid-hombre .grid-col {
      place-self: center; }
      .mens .container-colection .grid-hombre .grid-col .hombre1 {
        justify-items: center;
        width: 150px;
        height: 250px;
        position: relative; }
        .mens .container-colection .grid-hombre .grid-col .hombre1 .img-hombre1-comun, .mens .container-colection .grid-hombre .grid-col .hombre1 .img-hombre2, .mens .container-colection .grid-hombre .grid-col .hombre1 .img-hombre1 {
          width: 150px;
          height: 200px;
          z-index: 0;
          position: absolute;
          top: 0; }
        .mens .container-colection .grid-hombre .grid-col .hombre1 .img-hombre1 {
          transition: 0.2s all ease-in-out; }
          .mens .container-colection .grid-hombre .grid-col .hombre1 .img-hombre1:hover {
            opacity: 0;
            cursor: pointer; }
        .mens .container-colection .grid-hombre .grid-col .hombre1 .des-hombre {
          text-align: center;
          color: black;
          position: absolute;
          bottom: 0;
          height: 40px;
          padding: 10px 0;
          margin: 0;
          font-size: 20px;
          font-weight: 600; }

@media (max-width: 799px) {
  .mens .carousel-inner .carousel-item {
    height: 170px; }
    .mens .carousel-inner .carousel-item img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .mens .titulo-coleccion {
    text-align: center;
    padding-left: 0; }
  .mens .container-colection .grid-hombre {
    grid-template-columns: 1fr; } }

.kids .carousel-inner {
  height: 500px; }
  .kids .carousel-inner .carousel-item {
    height: 500px; }
    .kids .carousel-inner .carousel-item img {
      height: 500px;
      object-fit: cover; }
    .kids .carousel-inner .carousel-item .intro {
      color: black;
      font-size: 2rem;
      font-weight: bold; }

.kids .titulo {
  font-size: 3rem;
  font-weight: bold;
  padding: 20px 10px;
  background-color: white; }

.kids .fondo-kids {
  background-color: #e4fff9;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem 2rem;
  row-gap: 3rem;
  gap: 2rem; }
  .kids .fondo-kids .kids1 {
    width: 250px;
    height: 300px;
    color: black;
    place-self: center;
    position: relative; }
    .kids .fondo-kids .kids1 .img-kids1-common {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 250px;
      top: 0;
      left: 0; }
    .kids .fondo-kids .kids1 .img-kids1 {
      transition: 0.2s all ease-in-out; }
      .kids .fondo-kids .kids1 .img-kids1:hover {
        opacity: 0;
        cursor: pointer; }
    .kids .fondo-kids .kids1 .description {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 2;
      display: flex;
      height: 44px; }
      .kids .fondo-kids .kids1 .description-articulo {
        position: relative;
        background-color: black;
        color: aliceblue;
        font-weight: 400;
        height: 44px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .kids .fondo-kids .kids1 .description-articulo p {
          width: 100%;
          margin: 0;
          font-size: 1rem;
          line-height: 1rem;
          text-align: center; }
    .kids .fondo-kids .kids1 .descuento {
      position: absolute;
      background-color: silver;
      color: black;
      font-weight: 600;
      height: 24px;
      top: 0;
      right: 0;
      z-index: 2; }
      .kids .fondo-kids .kids1 .descuento p {
        margin-top: 0%; }

* {
  font-family: "Poppins"; }
