header {
    width: 100%;
    background-color: #3B3355;
    z-index: 10;
    position: sticky;
    top: 0;
}

.carousel-inner {
    height: 500px;
}

.carousel-inner .carousel-item {
    height: 500px;
}

.carousel-inner .carousel-item img {
    height: 500px;
    object-fit: cover;
}

.intro {
    color: black;
    font-size: 2rem;
    font-weight: bold;
}