body {
    margin: 0;
}

header {
    width: 100%;
    background-color: orange;
    z-index: 10;
    position: sticky;
}




header .nasa {
    float: left;
    font-size: 2rem;
    font-weight: 900;
    margin: 1rem;
    margin-top: 5px;
}

.banner-mujer {
    width: 100%;
    height: 295px;

    position: relative;
}

.banner-mujer .banner-one {
    width: 100%;
    height: 270px;
    padding: 0;

}

.banner-mujer .banner-two {
    position: absolute;
    height: auto;
    width: 250px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotateZ(315deg);
}

.imagen-header {
    width: 100%;
    height: 100px;

}

.imagen-header img {
    width: 30%;
    height: 70px;
    margin-left: 25rem;
    top: 0;
}

.fondo-mujer {
    background-image: url(../assest/fondo-mujer.jpg);
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    padding: 1.5rem 2rem;
}


.modda-mujer {
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 0;
    top: 0;
    width: 100%;
    height: 50px;
    color: whitesmoke;
    margin: 0;
    background-color: black;
}



.mujer1 {
    width: 200px;
    height: 280px;
    margin-left: 2rem;
    padding: 0 0.5rem;
    color: black;
    border: 3px solid black;


}

.img-mujer1 {
    background-color: whitesmoke;
    margin-top: 10px;

}

.img-mujer1 img {
    width: 100%;
    height: 220px;
}

.container-description {
    display: flex;

    font-size: 0.5;
    border: 1px solid black;

}

.descrption-articul {
    position: relative;
    background-color: blue;
    /* height: 70px; */
    color: aliceblue;
    font-weight: 400;
    height: 40px;
}

.descrption-articul p {
    margin-top: 0%;
}

.descuento {
    background-color: silver;
    color: black;
    font-weight: 600;
    height: 40px;

}

.descuento p {
    margin-top: 0%;
}


.visita {
    width: 100%;
    height: 80px;
    background-color: lightgray;
    border: 2.5px solid blue;

}


.visita h2 {
    width: 15%;
    height: 40px;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    color: darkblue;
    background-color: cadetblue;
    border-radius: 5%;
    text-align: center;


}

.sociales {
    display: flex;
    justify-content: end;
    gap: 30px;
    margin-top: 0;
    margin-bottom: 0;
    height: 40px;
    margin-right: 5px;
}

.sociales a {
    width: 40px;
    height: 30px;
}

.sociales a img {
    width: 40px;
    height: 40px;
    margin-bottom: 0;
}