* {
    font-family: "poppins";
}

body {
    margin: 0;
}

header {
    background-color: #3B3355;
    z-index: 10;
}

.carousel-inner .carousel-item {
    height: 300px;
}

.container-colection {
    padding: 0;
    width: 100%;
    margin: 0;

}


.titulo-coleccion {
    width: 100%;
    color: white;
    background-color: black;
    font-size: 2.5rem;
    padding-left: 2rem;
    line-height: 4rem;
    font-weight: 800;
}

.grid-hombre {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    row-gap: 3rem;
    column-gap: 3rem;
    padding: 3rem 0;

}

.grid-col {
    place-self: center;

}

.hombre1 {
    justify-items: center;
    width: 200px;
    height: 250px;
    position: relative;

}

.hombre1 .des-hombre {
    color: #3B3355;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.img-hombre1-comun {
    width: 150px;
    height: 200px;
    /* align-items: center; */
    /* border-width: 8px;
    border-radius: 20%; */
    /* border-style: solid; */
    z-index: 0;
    position: absolute;
    top: 0;
}

/* .hombre1 {
    width: 150px;
    height: 200px;
    color: black;
    border: 8px solid black;
    place-self: center;
    position: relative;
} */

/* .img-hombre1-comun {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 220px;
    top: 0;
    left: 0;
} */

.img-hombre1 {
    transition: 0.2s all ease-in-out;
}

.img-hombre1:hover {
    opacity: 0;
    cursor: pointer;
}

.hombre1 p {
    height: 40px;
    text-align: center;
    color: black;
    /* background-color:; */
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

footer {

    background-color: #BFCDE0;
}

footer .social a {
    width: 30px;
    height: 30px;
}

footer .social a img {
    width: 30px;
    height: 30px;
}

@media (max-width: 799px) {
    header a {
        font-size: 0.75rem;
    }

    header .left {
        font-size: 1.5rem;
    }


    .carousel-inner .carousel-item {
        height: 170px;
    }

    .carousel-inner .carousel-item img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .titulo-coleccion {
        text-align: center;
        padding-left: 0;
    }

    .grid-hombre {
        grid-template-columns: 1fr;
    }

    .footer {
        gap: 0.5rem;
    }

    .footer .social {
        flex-direction: column;
    }
}