footer {
  background-color: map-get($colors, "gray");
  ;

  .social {
    a {
      width: 30px;
      height: 30px;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }


  .f-red1 {
    img {

      transition: 0.5s;

      &:hover {
        transform: scale(1.5);
      }
    }

  }


  .modulo {
    transition: 0.3s;

    &:hover {
      transform: scale(1.2);
      color: blue;
    }
  }

  .paginas {
    a {
      transition: 0.5s;

      &:hover {
        transform: scale(1.5);
      }
    }
  }
}

@include isMobile {
  footer {
    gap: 0.5rem;

    .social {
      flex-direction: column;
    }
  }
}